/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html{color:#505050; font-size:14px; line-height:20px;}

.contacts-link{width:100%; border-collapse: collapse;}
.contacts-link td{padding:10px 20px; white-space:nowrap; border-bottom:1px solid #CCCCCC;}
.contacts-link .show{width:70px;}
.contacts-link .edit{width:70px;}
.contacts-link .delete{width:70px;}
.contacts-link th{padding:10px 20px; text-align: left; background:#d3ecff; color:#000000;}

.contacts-link tr:hover{background:#d9d9d9;}
